services:
  postgres:
    image: postgres:15 # change postgres to version 18 alpine - besser
    container_name: swen_postgres
    hostname: postgres
    restart: always
    environment:
      POSTGRES_DB: swenprojekt
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d swenprojekt"]
      interval: 5s
      timeout: 3s
      retries: 10

  rabbitmq:
    image: rabbitmq:3-management
    container_name: swen_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  minio:
    image: minio/minio:latest
    container_name: swen_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"  # S3 API
      - "9001:9001"  # Web Console
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 10s
      timeout: 5s
      retries: 10

  app:
    build:
      context: ./rest
      dockerfile: Dockerfile
    container_name: swen_app
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_started
      minio:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/swenprojekt
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: documents
      APP_JWT_SECRET: "0123456789abcdef0123456789abcdef0123456789abcdef"
      APP_JWT_EXPIRATIONMINUTES: "1440"
      APP_INTERNAL_SECRET: ${INTERNAL_API_SECRET}
      ELASTICSEARCH_URL: http://elasticsearch:9200
    ports:
      - "8082:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: swen_ui
    depends_on:
      - app
    ports:
      - "80:80"

  worker:
    build:
      context: ./ocr-worker
      dockerfile: Dockerfile
    container_name: swen_worker
    depends_on:
      rabbitmq:
        condition: service_started
      minio:
        condition: service_healthy
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: documents
      TESSERACT_LANGS: deu+eng


  genai-worker:
        build:
          context: ./genAI-worker
          dockerfile: Dockerfile
        container_name: swen_genai_worker
        depends_on:
          - rabbitmq
          - app
        environment:
          OPENAI_API_KEY: ${OPENAI_API_KEY}
          GENAI_MODEL: ${GENAI_MODEL}
          GENAI_API_URL: ${GENAI_API_URL}
          REST_BASE_URL: ${REST_BASE_URL}
          INTERNAL_API_SECRET: ${INTERNAL_API_SECRET}

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.2
    container_name: swen_elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    healthcheck:
      test: [ "CMD-SHELL", "curl -fsS http://localhost:9200 >/dev/null || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 20

  elastic-worker:
    build:
      context: ./elastic-worker
      dockerfile: Dockerfile
    container_name: swen_elastic_worker
    depends_on:
      rabbitmq:
        condition: service_started
      elasticsearch:
        condition: service_healthy
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
      ELASTICSEARCH_URL: http://elasticsearch:9200



volumes:
  postgres_data:
  minio_data:




