spring:
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:rabbitmq}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}

  elasticsearch:
    uris: ${ELASTICSEARCH_URL:http://elasticsearch:9200}

logging:
  level:
    root: INFO
