spring:
  application:
    name: Brunner-Wydra-SwenProjekt

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5433/swenprojekt}
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

  elasticsearch:
    uris: ${ELASTICSEARCH_URL:http://elasticsearch:9200}

app:
  internal:
    secret: ${INTERNAL_API_SECRET:dev-secret-change-me}



